/* 1. Tạo bộ chọn body để cố định phông chữ cho cả trang và bộ chọn #main để
cố định độ rộng vùng thông tin và trang sẽ chiếm và căn chỉnh vùng này nằm giữa màn hình. */
body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}

#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
/* 2. Tạo bộ chọn #head xác định chiều cao, màu nền, đường viền và khoảng cách
so với các vùng khác (khoảng cách so với vùng bên dưới – margin-bottom). */
#head{
    /*height: 3cm;*/
    /*background-color: lightpink;*/
    /*margin-bottom: 0.1cm;*/
    height: 100px;
    background-color: #F5F5F5;
    border: 1px solid #CDCDCD;
    margin-bottom:5px;
}
/* 4. Tiếp tục với định nghĩa bộ chọn #head-link, để xác định vùng đặt các liên kế đầu trang: */
#head-link{
    /*height: 1cm;*/
    /*background-color: lightgreen;*/
    /*margin-bottom: 0.1cm;*/
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #CDCDCD;
    background-color: #F5F5F5;
    margin-bottom:5px;
    clear: both;
}
/* 5. Quan sát lại trang trên trình duyệt, bạn sẽ thấy vùng liên kết đầu
trang hiển thị ngay dưới phần head. */
/* 6. Định nghĩa tiếp bộ chọn #left để xác định vùng cho nội dung bên trái,
với độ rộng là 200px, chiều cao tối thiểu là 400px và đặc biệt chú ý tới mô
tả float: left; mô tả này làm cho vùng bên trái (DIV với ID là left) sẽ dạt
sang bên trái nhường chỗ cho các phân vùng khác: content và right). */
#left{
    /*width: 16.66%;*/
    /*height: 10cm;*/
    /*float: left;*/
    /*border: 0.1cm;*/
    /*background-color: lightpink;*/
    /*margin-outside: 0.1cm;*/
    width: 150px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float:left;
    background-color: #004C00;
    margin-bottom: 5px;
}
/* 7. Quan sát lại sự thay đổi về các vùng của trang trên trình duyệt */
/* 8. Bổ sung tiếp các selector cho vùng giữa và vùng phải lần lượt là #content và #right: */
#content{
    /*width: 66.64%;*/
    /*height: 10cm;*/
    /*float: left;*/
    /*background-color: lemonchiffon;*/
    /*margin-outside: 0.1cm;*/
    width: 600px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
#right{
    /* width: 16.66%;
    height: 10cm;
    float: left;
    background-color: lightblue;
    margin-outside: 0.1cm; */
    width: 234px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float:right;
    margin-bottom: 5px;
}
/* 10. Cuối cùng, bạn định nghĩa bộ chọn cho phân vùng cuối trang với id là #footer */
#footer{
    /*height: 2cm;*/
    /*background-color: gold;*/
    /*margin-outside: 0.1cm;*/
    height: 50px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: lightgreen;
}
